@use '../abstracts/' as abs;

.header {
    @include abs.absolute(top 0 left 0);
    width: 20%;
    height: 100vh;
    border-right: 1px solid rgba(255, 255, 255, .15);
    max-width: abs.toRem(100);
    z-index: 1000;

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-block: 2em;
        position: relative;
        z-index: 101;
    }

    &__follow {
        display: block;
        rotate: -90deg;
        font-size: 1.5rem;
        padding: .15em;
        width: max-content;
    }
}