@use '../abstracts/' as abs;

.header {
    @include abs.absolute(top 0 left 0);
    width: 20%;
    height: 100vh;
    max-width: abs.toRem(100);
    position: relative;

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-block: 2em;
        position: relative;
        z-index: 101;
    }
}