@use '../abstracts/' as abs;

.hero {
    width: 100%;
    // min-height: 100vh;
    text-align: center;
    position: relative;

    &__swiper {
        height: 100%;
    }

    &__slide {
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, .55);
            z-index: 2;
        }

        &--1 {
            background-image: url('../assets/img/hero/slide01.jpg');
        }

        &--video {
            video {
                position: absolute;
                min-width: 100%;
                min-height: 100%;
            }
        }

        &--3 {
            background-image: url('../assets/img/hero/slide03.jpg');
        }
    }

    &__content {
        position: relative;
        z-index: 3;
    }

    &__title {
        font-size: 3.125rem;
        font-size: clamp(3.125rem, 1.25rem + 8vw, 6.25rem);
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-block-end: .25em;
        position: relative;

        &::before,
        &::after {
            font-size: .5em;
            filter: blur(3px);
            position: absolute;
            bottom: 0;
        }

        &::before {
            content: attr(data-prev);
            left: 0;
            translate: -100% 0;

            @include abs.for-tablet-up {
                translate: calc(-100% - 1rem) 0;
            }
        }

        &::after {
            content: attr(data-next);
            right: 0;
            translate: 100% 0;

            @include abs.for-tablet-up {
                translate: calc(100% + 1rem) 0;
            }
        }
    }

    &__link {
        font-size: 1rem;
        font-size: clamp(1rem, 0.85rem + 0.64vw, 1.25rem);
    }

    &__controls {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        z-index: 10;
        display: flex;
        gap: 3em;
    }

    .swiper-button-prev,
    .swiper-button-next {
        all: unset;
        font-size: 1.125rem;
        font-size: clamp(1.125rem, 0.975rem + 0.64vw, 1.375rem);
        cursor: pointer;
        text-transform: uppercase;
        @include abs.transition(opacity);

        &:hover,
        &:focus {
            opacity: .8;
        }
    }
}