@use '../abstracts/' as abs;

.intro {

    &__main-title {
        text-align: left;
    }

    &__quote {
        font-size: abs.toRem(20);
    }

    &__author {
        font-size: abs.toRem(26);
        position: relative;

        &::after {
            content: '';
            width: 80px;
            height: 1px;
            background-color: abs.$clr-text;
            display: inline-block;
            vertical-align: middle; 
            margin-inline-start: 1em;
        }
    }

    &__who {
        display: block;
        opacity: .7;
    }

    &__title {
        font-size: 5rem;
        font-size: clamp(5rem, 3.125rem + 8vw, 8.125rem);
        margin-block-start: .25em;
        

        span {
            display: inline-block;
            font-size: .3em;
            width: min-content;
            vertical-align: top;
        }
    }

    &__swiper {
        position: relative;
        // max-height: abs.toRem(400); 
        margin-block-start: 5em;

        @include abs.for-tablet-up {
            max-height: abs.toRem(600);
        }


        img {
            width: 100%;
            object-fit: cover;
            opacity: .7;
        }

        .swiper-pagination span {
            display: inline-block;
            background-color: #fff;
            border: 2px solid transparent;
            opacity: 1;
            margin: 0 .5em !important;

            &.swiper-pagination-bullet-active {
                border-color: #fff;
                background-color: transparent;
                scale: 1.5;
            }
        }
    }

    &__slide-text {
        @include abs.absolute(bottom 2rem left 2rem);
    }

}