@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Fjalla';
    font-weight: 600 900;
    src: url('../assets/fonts/Fjalla/FjallaOne-Regular.ttf');
}