@use '../abstracts/' as abs;

.overflow {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.wrapper {
    width: 90%;
    max-width: abs.$max-width;
    margin-inline: auto;
}

.section {
    padding-block: 5em;

    &__title {
        font-size: 2rem;
        font-size: clamp(2rem, 0.95rem + 4.4799999999999995vw, 3.75rem);
        margin-block-end: .5em;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-underline-grow {
    position: relative;
    padding-block-end: .25em;

    &:hover::before {
        scale: 1;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: abs.$clr-text;
        transform-origin: center left;
        scale: 0 1;
        @include abs.transition(scale);
        @include abs.absolute(bottom 0 left 0);
    }
}

.underline {
    display: inline-block;
    padding-block-end: .15em;
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: abs.$clr-primary;
        @include abs.absolute(bottom 0 left 0);
    }
}

.flex {
    display: flex;
}

.flex--grow {
    flex-grow: 1;
}

.flex--half {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;

    & > * {
        flex-basis: 100%;

        @include abs.for-tablet-up {
            flex-basis: 45%;
        }
    }
}


.flow > * + * {
    margin-block-start: 1em;
}

.animated-text span {
    display: inline-block;
}

.animate-before {
    position: relative;
    --before-scale-x: 1;

    &::before {
        content: '';
        display: block;
        position: absolute;
        // inset: 0;
        width: 100%;
        height: 100%;
        background-color: blue;
        transform-origin: center left;
        transform: scaleX(var(--before-scale-x));
    }
}

.animate-circle {
    --clip: 0%;
    clip-path: circle(var(--clip))
}